.nav{
    top: 0;
    width: 100%;
}
.nav li{
    display: inline; 
}

.nav a{
   
    padding: 4em;
    color:rgb(61, 255, 255);
    text-decoration: none;
    font-size: 150%;
    font-family: 'Red Rose', cursive;
}

header{
    display: inline;
    padding-top: 50px;
}
.logo{
    float: left;
}
.logo img{
    height: 50px;
    border-radius: 60%;
    margin: 10px;
}
button {
    height: 40px;
    width: 150px;
    opacity: 70%;
    float: right;
    font-size: 16px;
}

button:hover {
    color: red;
}
.main-menu{
    display: inline-block;
}

.header-hr{
    width: 100%;
    margin-top: 15px;
    border-top: 3px solid #fff;
}