.gallery{
    margin: 10px 50px; 
}
.gallery img{
    transition: 1s;
    padding: 15px;
    height: 220px;
    width: 300px;
}
.gallery img:hover
{
    transform: scale(1.1);
}
body {
    background-image: url("Flowerhorn2.jpg");
    background-size: cover;
    background-color: rgb(120, 134, 92);
    background-blend-mode: soft-light;
   }