
body {
    background-image: url("background.png");
    background-size: cover;

   }
h1{ display: block;
    text-align: center;
    font-size: 400%;
    color:rgb(255, 239, 8);
    font-family: 'Domine', serif;
    font-family: 'Playfair Display', serif;
}
h2{
    font-size: 350%;
    color: rgb(61, 255, 255);
}
.col-sm-6 {
  float: right;
  height: 400px;
  width: 500px;
}
.col-sm-6 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-blogs{
  margin: 40px 0;
}
.blog{
  margin: 40px 0;
}
.blog-content{
  padding: 25px;
  background: #f7f7f7;
}
.blog span{
  display: block;
}
.badge{
  background:#86c232;
  width: 140px;
  border-radius: 5px;
  padding: 5px 0;
  color: #fff;
  text-align: center;
  margin-bottom: 8px;
}
.misc-info{
  font-size: 14px;
  color:  #111;
  margin-top: 16px;
}
.blog-title{
  font-size: 20px;
  font-weight: 900;
}
.blog-text{
  font-weight: 300;
}

.blog-wrapper-lg{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.container{
  width: 90vw;
  margin: 0 auto;
}

.btn{
    background: #61892f;
    border: none;
    display: block;
    width: 150px;
    text-align: center;
    color: #61892f ;
    text-transform: uppercase;
    background: transparent;
    font-size: 15px;
    padding: 12px;
    border: 2px solid #61892f ;
    border-radius: 25px;
    margin: 15px 0;
    transition: var(--transition);
}
.btn:hover{
    background:#61892f;
    color: #fff;
}
.active{
    color: #86c232 !important;
}